<p style="color: green"><%= notice %></p>

 <p> <%= @tweet.body %></p>
  <p> User: <%= @tweet.user.name %></p>
  <p>@<%= @tweet.user.username %></p>
  <p><%= @tweet.created_at.strftime("%d %b %y")%></p>
      <% unless current_user.username == @tweet.user.username %>
        <% if current_user.followees.exists?(followee_id: @tweet.user.id) %>
        <%= button_to "Unfollow", unfollow_web_user_path(@tweet.user), method: :delete, class: "btn btn-danger" %>
        <% else %>
        <%= button_to "Follow", follow_web_user_path(@tweet.user), method: :post, class: "btn btn-primary" %>
        <% end %>
    <% end %>
<div>
  <%= link_to "Edit this tweet", edit_web_tweet_path(@tweet) %> |
  <%= link_to "Back to tweets", web_tweets_path %>
  <%= button_to "retweet", retweet_web_tweet_path(@tweet), method: :post, class: "btn btn-primary" %>

  <% if current_user && !@tweet.likes.exists?(user_id: current_user.id) %>
  <%= button_to "Like", like_web_tweet_path(@tweet), method: :post, class: "btn btn-primary" %>
  <% elsif current_user && @tweet.likes.exists?(user_id: current_user.id) %>
  <%= button_to "Unlike", unlike_web_tweet_path(@tweet), method: :delete, class: "btn btn-danger" %>
  <% end %>


<%= form_with(model: @reply_tweet, url: reply_web_tweet_path(@tweet), method: :post) do |form| %>
  <%= form.text_area :body, placeholder: 'reply' %>
  <%= form.submit 'Reply', class: 'btn btn-primary' %>
<% end %>



</div>
 